#                                 Data Structures
# .List                 Ordered         changeable                  duplicates
# .Tuple              Ordered         unchangeable              duplicates
# .Set                  Unordered     addable/removable     no duplicates
# .Dictionary      Unordered     changeable                  no duplicates

# ################################

# List

In [6]:
L = [1,2,3,4]

# Tuple

In [3]:
T = (1,34,5, "name", 5)

# Set

In [4]:
S = {1,4,5,6,8,"xyz"}

# Dictionary

In [5]:
D ={23:"twothree", 79:"sevennine"}

In [10]:
print("The type of L: ",type(L))
print("The type of T: ", type(T))
print("The type of S: ", type(S))
print("The type of D: ", type(D))

The type of L:  <class 'list'>
The type of T:  <class 'tuple'>
The type of S:  <class 'set'>
The type of D:  <class 'dict'>

In [11]:
print(L[1])
print(T[1])
print(3 in S)
print(D[23])

2
34
False
twothree

In [13]:
D2= {'A' : L , 'B':T, 'C': S, 'D':D}
print(D2)

{'C': {1, 4, 5, 6, 8, 'xyz'}, 'B': (1, 34, 5, 'name', 5), 'A': [1, 2, 3, 4], 'D': {79: 'sevennine', 23: 'twothree'}}

In [16]:
s3 = {x**2 for x in range(2,20,3)}
print(s3)

{64, 121, 289, 196, 4, 25}

In [18]:
L3 = [x**2 for x in range(10)]
print(L3)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [3]:
"""
Let say you are teacher and you have different student records containing id of a student and the marks list in each 
subject where different students have taken different number of subjects. All these records are in hard copy. You want 
to enter all the data in computer and want to compute the average marks of each student and display.
"""

def getDataFromUser():
    D = {}
    while True:
        studentId = input("Enter student ID: ")
        marksList = input("Enter the marks by comma separated values: ")
        moreStudents = input("Enter yes/no for adding more students: ")
        if studentId in D: 
            print(studentId, "is already inserted")
        else:
            D[studentId] = marksList.split(",")
        if moreStudents.lower() == "no":
            return D

In [6]:
studentData = getDataFromUser()

Enter student ID: 45
Enter the marks by comma separated values: 35,26,57,58
Enter yes/no for adding more students: yes
Enter student ID: 86
Enter the marks by comma separated values: 28,50,19,49,40
Enter yes/no for adding more students: yes
Enter student ID: 92
Enter the marks by comma separated values: 98,40,75,19,40
Enter yes/no for adding more students: yes
Enter student ID: 47
Enter the marks by comma separated values: 91,38,45
Enter yes/no for adding more students: no

In [7]:
def getAvgMarks(D):
    avgMarks = {}
    for x in D:
        L = D[x]
        s = 0
        for marks in L:
            s+=int(marks)
        avgMarks[x] = s/len(L)
    return avgMarks

In [8]:
avgM = getAvgMarks(studentData)

In [9]:
for x in avgM: 
    print("Student :",x, "got avg Marks as : ", avgM[x])

Student : 45 got avg Marks as :  44.0
Student : 92 got avg Marks as :  54.4
Student : 86 got avg Marks as :  37.2
Student : 47 got avg Marks as :  58.0