# Data Analysis using Pandas

In [2]:
import pandas as pd

In [3]:
print(pd.__version__)

0.18.1

In [4]:
A = pd.Series([2,3,4,5], index=['a','b','c','d'])

In [5]:
print(A)

a    2
b    3
c    4
d    5
dtype: int64

In [6]:
type(A.values)

numpy.ndarray

In [7]:
type(A)

pandas.core.series.Series

In [8]:
A.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [9]:
A['a']

2

In [10]:
A['a':'c']

a    2
b    3
c    4
dtype: int64

In [11]:
grads_dict = {'A':4, 'B':3.5 , 'C':3 , 'D':2.5}

In [12]:
grads = pd.Series(grads_dict)

In [13]:
grads.values

array([ 4. ,  3.5,  3. ,  2.5])

In [14]:
marks_dict = {'A': 85, 'B':75 , 'C':65,  'D':55}
marks = pd.Series(marks_dict)

In [15]:
marks.values

array([85, 75, 65, 55], dtype=int64)

In [16]:
marks['A']

85

In [17]:
marks[0:2]

A    85
B    75
dtype: int64

# DataFrames

In [18]:
D = pd.DataFrame({'Marks':marks , 'Grades':grads})

In [19]:
print(D)

   Grades  Marks
A     4.0     85
B     3.5     75
C     3.0     65
D     2.5     55

In [20]:
print(D.T)

           A     B     C     D
Grades   4.0   3.5   3.0   2.5
Marks   85.0  75.0  65.0  55.0

In [21]:
D

   Grades  Marks
A     4.0     85
B     3.5     75
C     3.0     65
D     2.5     55

In [22]:
D.values[2,0]

3.0

In [23]:
D.columns

Index(['Grades', 'Marks'], dtype='object')

In [24]:
D['ScaledMarks'] = 100*(D['Marks']/90)

In [25]:
D

   Grades  Marks  ScaledMarks
A     4.0     85    94.444444
B     3.5     75    83.333333
C     3.0     65    72.222222
D     2.5     55    61.111111

In [26]:
del D['ScaledMarks']

In [27]:
D

   Grades  Marks
A     4.0     85
B     3.5     75
C     3.0     65
D     2.5     55

In [28]:
G = D[D['Marks'] > 70]

In [29]:
G

   Grades  Marks
A     4.0     85
B     3.5     75

In [30]:
H = pd.DataFrame([{'a':1,'b':4 },{'b':-3 , 'c' : 9}])

In [31]:
H

     a  b    c
0  1.0  4  NaN
1  NaN -3  9.0

In [32]:
H.fillna(0)

     a  b    c
0  1.0  4  0.0
1  0.0 -3  9.0

In [33]:
I = pd.Series(['a','b','c'],index=[1,3,5])

In [34]:
I[1]

'a'

In [35]:
I[1:3]

3    b
5    c
dtype: object

In [36]:
I

1    a
3    b
5    c
dtype: object

In [37]:
I.loc[1:3]

1    a
3    b
dtype: object

In [38]:
I.iloc[1:3]

3    b
5    c
dtype: object

In [39]:
D.iloc[2,:]

Grades     3.0
Marks     65.0
Name: C, dtype: float64

In [40]:
D.iloc[::-1,:]

   Grades  Marks
D     2.5     55
C     3.0     65
B     3.5     75
A     4.0     85

In [3]:
import numpy as np
import sklearn
print(sklearn.__version__)

from sklearn.impute import SimpleImputer

0.19.0

ImportError: No module named 'sklearn.impute'

In [42]:
df = pd.

SyntaxError: invalid syntax (<ipython-input-42-a868de5fd46e>, line 1)